<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite verbose="2" name="MySuite" parallel="tests" thread-count="4">
    <listeners>
        <listener class-name="core.TestListener" />
           </listeners>


    <test name="PositiveTest_1" parallel="methods">
        <parameter name="login" value="Сергей Оралов"/>
        <parameter name="pass" value="pwd4hotelRA"/>
        <classes>
            <class name="autotests.LoginPositiveTest"/>
        </classes>
    </test>

    <test name="PositiveTest_2" parallel="methods">
        <parameter name="login" value="Тест"/>
        <parameter name="pass" value="Тест"/>
        <classes>
            <class name="autotests.LoginPositiveTest"/>
        </classes>
    </test>

    <test name="NegativeTest">
        <classes>
            <class name="autotests.LoginNegativeTest"/>
        </classes>
    </test>

    <test name="CalendarTest" >
        <classes>
            <class name="autotests.CalendarTest"/>
        </classes>
    </test>

    <test name="GetHolydayTest">
        <classes>
            <class name="autotests.GetHolidaysTest"/>
        </classes>
    </test>

    <test name="EmotionsTest_With_My_Login">
        <parameter name="username" value="Сергей Оралов"/>
        <parameter name="password" value="pwd4hotelRA"/>
        <classes>
            <class name="autotests.EmotionsTest"/>
        </classes>
    </test>

    <test name="EmotionsTest_With_Another_Login">
        <parameter name="username" value="Авто Мяу"/>
        <parameter name="password" value="12345"/>
        <classes>
            <class name="autotests.EmotionsTest"/>
        </classes>
    </test>

</suite>



